@import '../SCSS/mixin.scss';
@import '../SCSS/variable.scss';

.nav{
    height: 7.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    .logo{
        margin-left: $height;
        height: $height;
        width: 8.2rem;
    }

    .right{
        margin-right: $height;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .img{
            height: $height;
            width: $height;
            border-radius: 50%;
            margin-right: $height;
        }

        .btn{
            @include button(11rem, $btn-green-color);
        
            @include respond(S1800){
                font-size: 1.5rem;
              }
            @include respond(S1500){
                font-size: 1.5rem;
              }
        
              @include respond(S900){
                font-size: 1rem;
              }
              @include respond(S600){
                font-size: 0.8rem;
              }
        }
    }

}
