// COLORS
$btn-green-color : #0fac1c;
$btn-blue-color : #1051ca;
$bg-color : #F5F5F5;
$border-grey-color : #D7DFE9;

//BORDER-RADIUS
$border-radius : 0.5rem;

//HEIGHT
$height : 4rem;

// PADDING
$padding-theme-left : 15rem;
$padding-theme-top : 5rem;

//MARGIN
$margin-in-between : 3.2rem;
$margin-small : 1rem;

//Text-color
$text-color : #7E858E;
